<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="addNewKnowledge()" nz-button nzType="primary">导入新知识</button>
  </ng-template>
</page-header>
<nz-card>
  <div nz-row nzGutter="32">
    <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5">
      <sf #sfKnowledge mode="search" [schema]="knowledgeSchema" (formReset)="st.reset($event)" ></sf>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5">
      <sf #sfField mode="search" [schema]="fieldSchema" (formReset)="st.reset($event)"></sf>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5">
      <sf #sfDeparment mode="search" [schema]="departmentSchema" (formReset)="st.reset($event)"></sf>
    </nz-col>
    <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="9">
      <sf #sfMetaDir mode="search" [schema]="metaDirSchema" (formSubmit)="queryList($event)"
          (formReset)="st.reset($event)"
      expandTrigger="hover">
      </sf>
    </nz-col>
  </div>
  <st #st [data]="list" [columns]="columns"></st>
</nz-card>
<nz-modal
  [(nzVisible)]="uploadVisible"
  nzTitle="新增知识"
  (nzOnCancel)="handleCancel()"
  nzFooter=" "
>
  <form nz-form [formGroup]="form" se-container="1">
    <se label="所属领域目录" error="请选择所属领域目录" required>
      <nz-cascader formControlName="selectMeta"
        [nzTriggerAction]="'hover'"
        [nzExpandTrigger]="'hover'"
        [nzOptions]="nzOptions"
        (ngModelChange)="onChanges($event)"
      >
      </nz-cascader>
    </se>
    <se label="知识模型名称" error="请输入知识模型名称" required>
      <input nz-input formControlName="name" placeholder="请输入知识模型名称"/>
    </se>
    <se label="知识图名称" error="请输入知识图名称" required>
      http://<input nz-input formControlName="graphName" placeholder="请输入知识图名称" style="width: 87%;"/>
    </se>
    <se label="知识模型简介" error="请输入知识模型简介">
      <input nz-input formControlName="knowledgeSynopsis" placeholder="请输入知识模型简介"/>
    </se>
    <se label="上传知识模型" required>
      <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
        <button nz-button><i nz-icon nzType="upload"></i><span>点击选择</span></button>
      </nz-upload>
    </se>
    <se>
      <button nz-button nzType="primary"
              [nzLoading]="uploading"
              [disabled]="fileList.length == 0"
              (click)="submit()">提交
      </button>
    </se>
  </form>
</nz-modal>
<nz-modal
  [(nzVisible)]="sparqlVisible"
  nzTitle="sparQL查询"
  (nzOnCancel)="handleCancel()"
  nzFooter=" "
  nzWidth="1300px"
>
  <sf [schema]="sparql" (formSubmit)="submitSparql($event)" style="width: 96%;"></sf>
  <div *ngIf="displayResult" style="margin:3%;overflow:auto;height: 500px;">
    <table border="1">
      <tr>
        <th style="width:400px">s</th>
        <th style="width:400px">p</th>
        <th style="width:400px">o</th>
      </tr>
      <tr *ngFor="let index of resultTable">
        <td>{{index.s}}</td>
        <td>{{index.p}}</td>
        <td>{{index.o}}</td>
      </tr>
    </table>
  </div>
</nz-modal>

