<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="addMetaEvent()" nz-button nzType="primary">新增原子事件</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="queryList($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="list" [columns]="columns"></st>
</nz-card>
<!--新增原子事件弹出框-->
<nz-modal
  [(nzVisible)]="insertMetaEventIsVisible"
  nzTitle="新增原子事件"
  (nzOnCancel)="handleCancel()"
  nzFooter=" "
>
  <form nz-form [formGroup]="metaEventForm" (ngSubmit)="submitMetaEvent()" se-container="1">
    <se label="原子事件名称" error="请输入原子事件名称" required>
      <input nz-input formControlName="name" placeholder="请输入原子事件名称"/>
    </se>
    <se label="原子事件简介" error="请输入原子事件简介" required>
      <input nz-input formControlName="synopsis" placeholder="请输入原子事件简介"/>
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="metaEventForm.invalid" type="submit">提交</button>
    </se>
  </form>
</nz-modal>
<!--删除确认弹出框-->
<nz-modal [(nzVisible)]="deleteMetaEventIsVisible" nzTitle="提示" (nzOnCancel)="handleCancel()"
          (nzOnOk)="deleteMetaEventSubmit()">
  确定要删除此原子事件吗？
</nz-modal>
<!--对应关系弹出框-->
<nz-modal [(nzVisible)]="relationIsVisible"
          nzTitle="原子事件与属性的对应" (nzOnCancel)="relationHandleCancel()"
          nzFooter=" " nzWidth="1200px">
  <button (click)="addRelation()" nz-button nzType="primary" style="margin: 0 20px 20px;">新增对应关系</button>
  <nz-card>
    <!--<sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>-->
    <st #relationst [data]="relationList" [columns]="relationColumns"></st>
  </nz-card>
</nz-modal>
<!--新增对应关系弹出框-->
<nz-modal
  [(nzVisible)]="addRelationIsVisible"
  nzTitle="新增对应关系"
  (nzOnCancel)="addRelationHandleCancel()"
  nzFooter=" "
  nzWidth="800px"
>
  <form nz-form [formGroup]="relationForm" (ngSubmit)="submitRelation()" se-container="1">

    <se label="请选择知识" error="请选择知识" required>
      <nz-select formControlName="selectIot" [nzPlaceHolder]="'请选择知识'" [nzShowSearch]="true"
                 (ngModelChange)="iotChange($event)">
        <nz-option *ngFor="let i of iotList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="请选择系统" error="请选择系统" required>
      <nz-select formControlName="selectSystem" [nzPlaceHolder]="'请选择系统'" [nzShowSearch]="true"
                 (ngModelChange)="systemChange($event)" >
        <nz-option *ngFor="let i of systemList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="请选择子站" error="请选择子站" required>
      <nz-select formControlName="selectSubsites" [nzPlaceHolder]="'请选择子站'" [nzShowSearch]="true"
                 (ngModelChange)="subsitesChange($event)" >
        <nz-option *ngFor="let i of subsitesList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="请选择子系统" error="请选择子系统" required>
      <nz-select formControlName="selectSubsystem" [nzPlaceHolder]="'请选择子系统'" [nzShowSearch]="true"
                 (ngModelChange)="subsystemChange($event)" >
        <nz-option *ngFor="let i of subsystemList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="请选择设备" error="请选择设备" required>
      <nz-select formControlName="selectEquipment" [nzPlaceHolder]="'请选择设备'" [nzShowSearch]="true"
                 (ngModelChange)="equipmentChange($event)" >
        <nz-option *ngFor="let i of equipmentList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>
    <se label="请选择属性" error="请选择属性" required>
      <nz-select formControlName="selectAttribute" [nzPlaceHolder]="'请选择属性'" [nzShowSearch]="true"
                 (ngModelChange)="attributeChange($event)" >
        <nz-option *ngFor="let i of attributeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
    </se>

    <!--<se label="请选择关联" error="请选择要关联的设备属性" required>-->
      <!--<nz-cascader formControlName="selectField" [nzOptions]="selectList" [(ngModel)]="selectValues"> </nz-cascader>-->
    <!--</se>-->
    <se>
      <button nz-button nzType="primary" [disabled]="relationForm.invalid" type="submit">提交</button>
    </se>
  </form>
</nz-modal>
<nz-modal [(nzVisible)]="deleteRelationIsVisible" nzTitle="提示" (nzOnCancel)="deleteRelationHandleCancel()"
          (nzOnOk)="deleteRelationSubmit()">
确定要删除此对应关系吗？
</nz-modal>
